{% extends 'bk_app/main.html' %}
{% load static %}
{% block content %}
    <br/>
    <form id="myForm" method="POST">
        {% csrf_token %}
        <div class="card" style="margin: 10px">
            <div class="card-header text-center">
                <h4>Create an Order</h4>
                {{ order_form.as_table }}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        {{ order_item_form.management_form }}
                        <div class="card">
                            <div class="card-header text-center">
                                <h5>Deals</h5>
                                <button type="button" class="btn btn-sm btn-info" data-toggle="modal"
                                        data-target="#myModalDeals">
                                    View all deals
                                </button>
                                {#                                <input type="button" class="btn btn-block btn-info" value="Add More" id="add_more">#}
                            </div>
                            <div class="card-body" style="height: 35vh; overflow: auto">
                                {% for form in order_item_form %}
                                    <div class='tableo'>
                                        <table class='no_error'>
                                            <tr>
                                                {% for field in form %}
                                                    {% if field.name == 'item' %}
                                                        <td>{{ field.label_tag }} {{ field }}</td>
                                                    {% endif %}
                                                    <td></td>
                                                    <td></td>
                                                    {% if field.name == 'quantity' %}
                                                        <td>{{ field.label_tag }} {{ field }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                                {#                                            {{ form.as_table }}#}
                                            </tr>
                                        </table>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {{ menu_item_form.management_form }}
                        <div class="card">
                            <div class="card-header text-center">
                                <h5>Items</h5>
                                <button type="button" class="btn btn-sm btn-info" data-toggle="modal"
                                        data-target="#myModalItems">
                                    View all items
                                </button>
                                {#                                <input type="button" class="btn btn-block btn-warning" value="Add More" id="add_more">#}
                            </div>
                            <div class="card-body" style="height: 35vh; overflow: auto">
                                {% for menu_form in menu_item_form %}
                                    <div class='tableo'>
                                        <table class='no_error'>
                                            <tr>
                                                {% for m_field in menu_form %}
                                                    {% if m_field.name == 'item' %}
                                                        <td>{{ m_field.label_tag }} {{ m_field }}</td>
                                                    {% endif %}
                                                    <td></td>
                                                    <td></td>
                                                    {% if m_field.name == 'quantity' %}
                                                        <td>{{ m_field.label_tag }} {{ m_field }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                                {#                                            {{ form.as_table }}#}
                                            </tr>
                                        </table>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-md btn-warning" href="{% url 'orders' %}">Cancel</a>
                    <button type="submit" class="btn btn-md btn-success">Place Order</button>
                </div>
            </div>
        </div>
    </form>

    <!-- The Deals Modal -->
    <div class="modal fade" id="myModalDeals">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Deals</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="height: 65vh; overflow: auto">
                    <table class="table table-md">
                        <tr>
                            <th>Deal Name</th>
                            <th>Total Charges</th>
                            <th>Details</th>
                        </tr>
                        {% for deal in deals %}
                            <tr>
                                <td>{{ deal.name }}</td>
                                <td>{{ deal.price }}</td>
                                <td>
                                    <a class="btn btn-sm btn-info" href="{% url 'view_deal' deal.id %}" target="_blank">View
                                        Details</a>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- The Item Modal -->
    <div class="modal fade" id="myModalItems">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Menu Items</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="height: 65vh; overflow: auto">
                    <table class="table table-sm">
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        {% for item in menu_items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.quantity }} {{ item.unit }}</td>
                                <td>{{ item.price }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $('#add_more').click(function () {
            var form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });
    </script>
{% endblock %}